<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <!-- <ion-button>
        <ion-icon size="small"  name="home"></ion-icon>
      </ion-button> -->
      <ion-button id="add-button">
        <ion-icon size="small" name="add"></ion-icon>
      </ion-button>
      
      <ion-popover trigger="add-button" side="bottom" alignment="center">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-list>
              <ion-item (click)="addCommand()" [button]="true" [detail]="false">{{ "dashboard.new_items.command" | translate}}</ion-item>
              <ion-item (click)="addDevice()" [button]="true" [detail]="false">{{ "dashboard.new_items.device" | translate}}</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ "app.navigation.dashboard.title" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="powerOnDevice()" expand="block">Turn on Smart Socket</ion-button>
  <ion-button color="danger" (click)="powerOffDevice()" expand="block">Turn off Smart Socket</ion-button>

  <div class="cards">
    <ion-card (click)="openTemplate(device[1])" *ngFor="let device of deviceArray()">
      <ion-card-header>
        <ion-card-title>{{device[1].name}}</ion-card-title>
        <ion-card-subtitle>{{device[1].type}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Topic: {{device[1].topic}}
      </ion-card-content>
    </ion-card> 
  </div>
</ion-content>


