<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <ion-button>
        <ion-icon size="small"  name="home"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon size="small"   name="add"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ "app.navigation.dashboard.title" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="cards">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Nowe Urządzenie</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content> Card Content </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content> Card Content </ion-card-content>
    </ion-card>    
  </div>
    <div class="cards">
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>Nowe Urządzenie</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content> Card Content </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content> Card Content </ion-card-content>
    </ion-card>      
  </div>
</ion-content>
