<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <ion-button>
        <ion-icon size="small"  name="home"></ion-icon>
      </ion-button>
      <ion-button id="add-button">
        <ion-icon size="small" name="add"></ion-icon>
      </ion-button>
      
      <ion-popover trigger="add-button" side="bottom" alignment="center">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-list>
              <ion-item (click)="addCommandDialog()" [button]="true" [detail]="false">{{ "dashboard.new_items.command" | translate}}</ion-item>
              <ion-item [button]="true" [detail]="false">{{ "dashboard.new_items.device" | translate}}</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ "app.navigation.dashboard.title" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="cards">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Nowe Urządzenie</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content> Card Content </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content> Card Content </ion-card-content>
    </ion-card>    
  </div>
    <div class="cards">
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>Nowe Urządzenie</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content> Card Content </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content> Card Content </ion-card-content>
    </ion-card>      
  </div>
</ion-content>


