@use "/src/assets/scss/pages";

.sign-on {
   height: 90vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
   }
   &__actions {
      width: 100%;
      display: flex;
      flex-direction: column;
   }
}

.loading-template {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}