.spinner {
   $size: 30px;
   margin-bottom: 10px;

   &__label {
      text-align: center;
   }

   &--sm {
      width: $size;
      height: $size;
   }

   &--md {
      width: $size + 30;
      height: $size + 30;
   }

   &--lg {
      width: $size + 50;
      height: $size + 50;
   }
}

.spinner-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}