<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <div class="user-avatar">
            <ion-icon size="large" name="person-circle"></ion-icon>
            <span> {{ userData.username }}</span>
          </div>
          <ion-card-subtitle>{{userData.email}}</ion-card-subtitle>
        </ion-card-title>
      </ion-card-header>

    </ion-card>

  </ion-header>

  <ion-card *ngFor="let gSettings of userSettings">
    <ion-card-header>
      <ion-card-title>{{ gSettings.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list [inset]="true">
        <ion-item button="" *ngFor="let settings of gSettings.group">
          <ion-label>{{ settings.title }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>
      <ion-button id="logout" expand="block" color="danger">{{ "user.settings.logout.title" | translate }}</ion-button>
      <ion-action-sheet
      trigger="logout" 
      :header="{{ 'user.settings.logout.actions.title' | translate }}" 
      [buttons]="actionSheetButtons"></ion-action-sheet>
    </ion-card-content>
  </ion-card>

</ion-content>
