<ion-header>
   <ion-toolbar>
    <ion-title>{{ "assistant.title" | translate }}</ion-title>
    <ion-progress-bar *ngIf="recording" color="danger" type="indeterminate"></ion-progress-bar>
   </ion-toolbar>
 </ion-header>
 <ion-content class="ion-padding assistant">
  <ion-fab vertical="top" horizontal="center">
    <ion-fab-button [disabled]="commandsArray().length < 1" (click)="onListening()" size="large" color="danger">
      <ion-icon color="light" *ngIf="recording" name="mic"></ion-icon>
      <ion-icon color="light" *ngIf="!recording" name="mic-off"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card class="command-list">
    <ion-card-header>
      <ion-card-title>{{"assistant.commands.title" | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    {{ counter }} Rura musi jebać 3.3: {{myText()}} 
      <ion-list [inset]="true" *ngIf="commandsArray().length > 0; else noDataTemplate">
        <ion-item *ngFor="let command of commandsArray()">
          <ion-label>{{command[1].name}}</ion-label>
        </ion-item>
      </ion-list>
      <ng-template #noDataTemplate>
        <p>{{ "commands.info.noCommands" | translate }}</p>
      </ng-template>
    </ion-card-content>
  </ion-card>
 </ion-content>